HTML,  {
  height: 100%;
  }

body {
	background-color:white;
	background-image: url(fon.jpg);
    min-width: 900px;
    background-size: 100%;
}
.logo {
	position: absolute; ;
	top: 1px;
	left: 10px;
}
.navigation {
    text-align: center;
    font-size: 25px;
    color: white;
    list-style: none;
    background-color:#3A3A3A;
    height: 50px;
    width: 100%;
    margin-top: 30px;
    padding-left: 250px;
    text-shadow: 2px 2px 2px black;
    

}
.navigation a {
	text-decoration: none;
	color: white;

}


.navigation li {
	display: inline-block;
	margin-right: 20px; 
	vertical-align: middle;


} 
.navigation li:hover .submenu {
	display: block;
} 

.submenu {
	display: none;
    position: absolute;
    list-style: none;
    float: left;
    margin-left: -38px;
   
}
.submenu li {
	display: block;
}
.submenu a {
	display: block;
	background-color: #3A3A3A;
	font-size: 20px;
	text-decoration: none;
	text-align: left;
	color: #C9C9C9;
	padding: 5px;
	//*border: 1px solid ;*//
	;
}
.submenu a:hover {
	background-color: #4B696F;
	color: white;

}
.description {
	color: #3C3C3C;
	font-size: 25px;
	text-align: justify;
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 20px;
}
 h1{
	text-align: center;
	padding-top: 15px;	
}
h3{
	text-align: center;
	padding-top: 15px;	
}
.sphere{
	width: 90%;
	font-size: 20px;
	margin-left: 5%;
	margin-top: 30px; 
	padding: 20px;
	color: white;
	text-shadow: 2px 2px 2px black;
	box-shadow: 0 0 15px rgba(0,0,0,0.5);
	text-align: justify;
	border-radius: 50px;
	min-height: 400px;
}
.sphere h3 {
	text-align: center;
}
#industrial {
background-image:url(City.jpg);
background-size: cover;
}
#forest {
background-image:url(forest.jpg);
background-size: cover;
}
#cave {
background-image:url(Cave.jpg);
background-size: cover;
}
#rain {
background-image:url(Rain.jpg);
background-size: cover;
}

#nightforest{
background-image:url(nightforest.jpg);
background-size: cover;
}
#street {
background-image:url(street.jpg);
background-size: cover;
}
#sea{
background-image:url(ocean.jpg);
background-size: cover;
}
.foot {
	text-align: center;
    font-size: 25px;
    color: white;
    list-style: none;
    background-color:#3A3A3A;
    height: 70px;
    width: 100%;
    margin-top: 30px;
    text-shadow: 2px 2px 2px black;
    
}
.foot a{
text-decoration: none;
color: white;
    
}